.predict-champion h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
}

.champion-tropy .champion-img {
    width: 100px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 15px;
}

.champion-tropy .champion-text {
    text-align: center;
    color: #c60;
}

.team {
    margin-top: 50px;
    width: 100%;
}

.team .team-group {
    margin-bottom: 50px;
}

.team .team-group .team-item {
    margin-bottom: 50px;
    text-align: center;
}

.team-item .score-text {
    position: absolute;
    top: 40px;
    font-size: 13px;
    left: 34%;
}

.team .score-group {
    position: relative;
    display: inline-block;
}

.team .team-group .team-item input {
    width: 100px;
}

.team .team-group .team-item select {
    width: 150px;
}

.team .position {
    width: 60%;
    height: 38px;
    margin: 0 auto;
    border: 1px dashed #a99696;
    border-bottom: none;
    position: relative;
}

.team .position .number {
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 13px);
}

.description {
    width: 100%;
}

.description .rules {
    background-color: #fc9;
    border: 1px solid #bbb;
    padding: 15px;
}

.description .rules .rule-content {
    font-size: 14px;
    margin-top: 8px;
}

.description .predict-choose {
    text-align: center;
    margin-top: 40px;
}

.description .predict-choose button {
    text-align: center;
}

.predict-choose .btn-predict {
    background-color: #d64742;
    width: 205px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #d79b00;
    cursor: pointer;
}

.predict-choose p {
    margin-top: 10px;
    font-size: 12px;
}